.login {
    width: 500px;
    margin: 170px auto 0
}

.settings {
    width: 500px;
    margin: 170px auto 0
}

.filter-section {
    width: 550px;
    margin: 30px auto 0;
}

.tables {
    width: 550px;
    margin: 30px auto 0;
}

.filter-button {
    height: 38px;
    margin-left: 20px;
    margin-bottom: 1rem;
}

.report-button {
    height: 38px;
    margin-left: 10px;
}

.tableHeadFont {
    font-style: oblique;
    font-weight: bold;
}

.loginLabelFont {
    font-style: oblique;
    font-size: large;
}